.app{
	width: 258px;
	height: 100%;
	background: #fff;
	margin-right: 20px;
	padding: 20px;
	border: solid 1px #D6D6D6;
	overflow: hidden;
	@include border-radius(5px);

	&.with-description{
		height:144px;
	}

	.app-icon{
		width:60px;
		height:60px;
		@include border-radius(5px);
	}

	.app-details{
		height: 60px;

		.app-image,.app-copy{
			display: inline-block;
			vertical-align: top;
			height: 60px;
		}

		.app-copy{
			overflow: hidden;
			position: absolute;
			margin-left: 10px;
			width: 188px;

			.app-download-button{
				position:absolute;
				right:0;
				bottom:0;
				width:60px;
				height:24px;
				text-align: center;
				@include border-radius(5px);
				
				&:hover {
					cursor: pointer;
					background: #4CB1FF;
					p {
						color: #fff;
					}
				}
				p{
					text-align: center;
					font-size:13px;
					color: #4CB1FF;
				}
			}

			a{
				h1, h2 {
					letter-spacing: -.1px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				h1{
					font-size: 14px;
					width: 188px;
					
				}
				h2{
					font-size:12px;
					font-family: "FiraLight";
					margin: 1px 0 -1px 0;
					width: 116px;
				}
				div {
					height: 18px;
					width: 100%;
				}
			}
		}
		
		.starfilled {
			polygon {
				color: #4CB1FF;
				fill: currentColor;
			}
		}
		
	}// end .app-details

	.app-description{
		font-size: 12px;
		font-family: "FiraLight";
		overflow: hidden;
		margin-top: 16px;
		line-height: 18px;
	}
}

.app-list {

}

/**
 *	General App Download BUtton
 */

.app-download-button{
	width:60px;
	height:23px;
	padding-top: 1px;
	@include border-radius(5px);
	position: relative;
	border: 1px solid #4CB1FF;

	/**
	 *	For containers that are smaller(ie app view in the other applications category)
	 */
	&.mini-container{
		display: inline-block;
		vertical-align: middle;
	}
	p{
		position: absolute;
		top: 3px;
		text-align: center;
		font-size: 13px;
		color:#4CB1FF;
		font-family: "FiraRegular";
		width: 100%;
	}
	&:hover {
		cursor: pointer;
		background: #4CB1FF;
		p {
			color: #fff;
		}
	}
}

/**
 *	Abuse reporting
 */
.modal{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	min-height:100%;
	z-index: 999999;
	background: rgba(100,100,100,0.6);
	&.closed{
		@include transition((display),1.0);
		display: none;
	}
	@include transition((display),1.0);
	display: block;

	.modalBox{
		height:500px;
		width:700px;
		position: relative;
		left:50%;
		margin-left: -450px;
		top:50%;
		margin-top:200px;
		background:#fff;
		textarea{
			position: relative;
			width: 100%;
			height:90%;
		}

		padding:100px;
	}
}
#reviews{
	position: relative;
}
.review-grid {
	position: relative;
	display: none;
}

#app-developer, #all-search-results {
	background: url('../img/header-background.png') repeat scroll 0% 0% #F6F6F6;
	padding: 30px 0;
}

.search-results-header {
	font-size: 22px;
	font-family: "FiraLight";
	margin-bottom: 25px;
	span:nth-child(2) {
		font-family: "FiraRegular";
		text-transform: lowercase;
	}
	span:nth-child(4) {
		font-family: "FiraRegular";
		color: $blue;
		font-style: italic;
	}
}

.developer-header {
	font-size: 22px;
	font-family: "FiraLight";
	margin-bottom: 25px;
	span:last-child {
		font-family: "FiraRegular";
	}
}

.developer-apps, .search-results {
	.searchresult {
		margin-right: 20px;
	}
	.searchresult:nth-child(4n) {
		margin-right: 0;
	}
}