$borderColor:rgb(211,211,211);
#appview{
	position: relative;
	min-height: 100%;
	padding-top: 40px;
	background: rgb(246,246,246);
}
.app-content-container,#vendor-information{
	display: inline-block;
	vertical-align: top;
}

.app-content-container {
	min-height: 407px;
}

#vendor-information{
	width: 300px;
	position: relative;
	left: 16px;
}

.app-category {
	margin-bottom: 25px;
	.category-label {
		display: inline-block;
		h3, span {font-size: 18px;}
		h3, a {display: inline-block;}
		a {margin-left: 5px;}
		span {
			cursor: pointer;
			font-family: "FiraLight";
			text-transform: capitalize;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.share-app {
		cursor: pointer;
		float: right;
		font-size: 12px;
		padding: 6px 15px 5px 15px;
		display: inline-block;
		border: 1px solid #D3D3D3;
		background: #fff;
		@include border-radius(5px);

		position:relative;
		#share-buttons{
			position: absolute;
			top:30px;
			right:0px;
			width:228px;
			z-index: 99;
			background:red;
			overflow: hidden;
			opacity: 0;
			padding:10px;
		}
		p, img {
			display: inline-block;
		}
		img {
			height: 14px;
			width: 14px;
			margin: -1px 0 0 8px;
			vertical-align: middle;
		}
	}
}

/**
 *	All the details of the app
 */
.app-content-container{
	width:938px;
	height: 100%;
	background: #fff;
	@include border-radius(5px);
	border:solid 1px rgb(211,211,211);
	position: relative;
	overflow: hidden;

	/**
	 *	general meta info for the app, icon, rating etc.
	 */
	.app-meta{
		width: 126px;
		height: 100%;
		min-height: 407px;
		border-right: solid 1px rgb(211,211,211);
		background: url('../img/header-background.png') repeat scroll 0% 0% #F5f5f5;
		.img-rating{
			padding: 20px;
			img{
				width: 100%;
				@include border-radius(5px);
			}
			p {
				cursor: pointer;
				width: 100%;
				font-size: 13px;
				text-align: center;
				display: inline-block;
				font-family: "FiraRegular";
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.updates{
			padding: 20px;
			border-top: solid 1px $borderColor;
			border-bottom: solid 1px $borderColor;
			h3,p {
				font-size: 12px;
			} 
			h3 {
				letter-spacing: .3px;
			}
			.date {
				margin-bottom: 15px;
			}
		}

		.govt-rating{
			padding-top:20px;
			padding-bottom: 20px;
			img{
				display: block;
				max-width: 100%;
				margin:0 auto;
			}
		}
	}


	.app-information{
		position: absolute;
		width: 811px;
		height: 100%;
		.download {
			cursor: pointer;
			float: right;
			width: 80px;
			height: 27px;
			padding-top: 6px;
			display: inline-block;
			background: $blue;
			box-shadow: 0px 2px #3D86BD;
			text-shadow: 0px 1px #3D86BD;
			margin-top: 1px;
			@include border-radius(5px);
			p {
				font-size: 16px;
				color: white;
				font-family: "FiraRegular";
				text-align: center;
			}
			&:hover {
				background: #42cafe;
			}
		}
		.ages {
			float: right;
			width: 64px;
			height: 21px;
			padding-top: 4px;
			border: 1px solid $borderColor;
			display: inline-block;
			margin: 5px 20px 0 0;
			@include border-radius(5px);
			p {
				font-size: 12px;
				color: $dark_gray;
				font-family: "FiraLight";
				letter-spacing: .5px;
				text-align: center;
			}
		}
		.name-author{
			border-bottom:solid 1px $borderColor;
			padding:20px;
			h1 {
				font-size: 24px;
				padding-right: 15px;
				letter-spacing: -.5px;
			}
			h3 {
				font-size: 14px;
				font-family: "FiraLight";
				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}
			h1,h3 {
				display: inline-block;
			}
			img {
				height: 11px;
				width: 11px;
				margin-left: 8px;
			}
		}

		.tabs{
			padding-top: 20px;
			text-align: center;
			.tab-trigger{
				padding: 7px 5px 5px 5px;
				width: 100px;
				text-align: center;
				display: inline-block;
				text-transform: uppercase;
				margin-right: 10px;
				@include border-radius(5px);

				&:last-child {
					margin-right: 0;
				}

				h4{
					font-size: 12px;
					font-family: "FiraMedium";
					letter-spacing: .4px;
					color: rgba(0, 0, 0, 0.2);
				}

				&:hover{
					cursor: pointer;
					h4 {
						color: #47484D;
						@include transition((color));
					}
				}

				&.active {
					background: url('../img/header-background.png') repeat scroll 0% 0% #F5F5F5;
					h4 {
						color: #47484D;
					}
				}

			}

		}

	}//end .app-information

	.app-information,.app-meta{
		display: inline-block;
		vertical-align: top;
	}

}// end .app-content-container

#tab-content{
	padding: 17px 20px 20px 20px;
	font-size: 14px;
	line-height: 22px;
	font-family: "FiraLight";
	text-transform: capitalize;
	.screenshots {
		height: 244px;
		overflow: hidden;
		img {
			height: 100%;
			margin-right: 20px;
		}
	}
}

#app-links{
	width: 258px;
	height: 163px;
	padding: 16px 20px;
	background: #fff;
	border:solid 1px rgb(211,211,211);
	position: relative;
	font-size: 13px;
	font-family: "FiraLight";
	@include border-radius(5px);
	.title{
		text-transform: uppercase;
		font-family: "FiraRegular";
		margin-bottom: 10px;
	}
	ul li {
		margin: 10px 0;
	}
}

#other-applications{
	h2 {
		font-size: 13px;
		text-transform: uppercase;
		font-family: "FiraRegular";
		font-weight: normal;
		margin: 15px 0 5px 0;
		a {
			float: right;
			font-family: "FiraLight";
			text-transform: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	#other-applications-list{
		@include panel;
		width: 298px;
		height: 100%;
		background: #fff;

		.other-app {
			padding: 20px;
			position: relative;

			.app-icon {
				height: 45px;
				width: 45px;
				@include border-radius(5px);
			}

			h3 {
				min-height: 19px;
			}

			h3, p {
				font-size: 13px;
				font-weight: normal;
				width: 125px;
  				white-space: nowrap;
  				overflow: hidden;
  				text-overflow: ellipsis;
			}

			img,.details {
				display: inline-block;
				vertical-align: top;
			}

			.details {
				position: absolute;
				margin: -4px 0 0 10px;
				p {
					margin-top: -1px;
					font-size: 12px;
				}
				div {
					margin-top: 2px;
				}
			}

			.app-download-button.mini-container {
				height: 24px;
				cursor: pointer;
				position: relative;
				float: right;
				top: 23px;
				p {
					color: #4CB1FF;
					width: 100%;
					text-align: center;
				}
				&:hover {
					p {
						color: #fff;
					}
				}
			}

		}
		.other-app:nth-child(n+3) {
			display: none;
		}
		.other-app:first-child {
			border-bottom: solid 1px $borderColor;
		}
		.other-app:last-child {
			border: none;
		}
	}
}

#app-reviews {
	width: 100%;
	border-top: 1px solid #D6D6D6;
	background: url('../img/header-background.png') repeat scroll 0% 0% #F0F0F0;
	margin-top: 40px;
	padding-bottom: 40px;
}

#reviews{
	margin: 34px auto 0 auto;
	max-width: 1260px;
	.wrap{
		position: relative;
		height: 70px;
		.controls{
			position: relative;
			padding-bottom: 28px;
			h1{
				float: left;
				font-family: "FiraLight";
				font-size: 22px;
				display: inline-block;
				letter-spacing: -.2px;
				padding: 3px 30px 0 0;
				border-right: 1px solid #D3D3D3;
			}

			h2 {
				font-size: 12px;
				display: inline-block;
				position: absolute;
				right: 208px;
				top: 10px;
			}

			h1:last-child{
				font-family: "FiraLight";
			}

			.toggle {
				display: inline-block;
				position: absolute;
				right: 0;
				top: 6px;
				span {
					font-size: 14px;
					color: #4CB1FF;
					border: 1px solid #4CB1FF;
					padding: 7px 12px 6px 12px;
					cursor: pointer;
					background: white;
					@include border-radius(5px);
				}
				span:first-child {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
				span:last-child {
					margin-left: -1px;
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
				}
				.active {
					background: #4CB1FF;
					color: #fff;
					cursor: default;
				}
			}

			button.write-a-review{
				float:left;
				width:160px;
				height:42px;
				background: #4CB1FF;
				box-shadow: 0px 2px #3D86BD;
				text-shadow: 0px 1px #3D86BD;
				border:none;
				padding:10px;
				color:#fff;
				font-size: 16px;
				font-family: "FiraRegular";
				cursor: pointer;
				margin: -4px 0 0 32px;
				@include border-radius(5px);
				&:hover {
					background: #42cafe;
				}
			}
		}
	}

	.app-review {
		display: inline-block;
		vertical-align: top;
		width: 258px;
		height: 145px;
		padding: 20px;
		margin-right: 20px;
		background: #4CB1FF;
		border: 1px solid #3D86BD;
		@include border-radius(5px);
		&:last-child { margin: 0;}
		.stars, .rating-copy,.username {
			display: inline-block;
		}
		.stars {
			width: 100%;
			height: 17px;
			margin: 0 auto;
			.review-rating {
				height: 17px;
			}
			ul {
				width: 97px;
				height: 17px;
				margin: 0 auto;
			}
			ul li {
				height: 17px;
				width: 17px;
				margin-right: 3px;
				&:last-child {
					margin: 0px;
				}
				img {
					max-width: none;
				}
			}
		}
		.rating-copy {
			font-size: 16px;
			height: 62px;
			display: flex;
			align-items: center;
			line-height: 22px;
			color: #fff;
			text-align: center;
			p {
				font-family: "FiraRegular", sans-serif;
				width: 100%;
			}
		}
		.username {
			margin-top: 16px;
			font-size: 14px;
			text-align: center;
			width: 100%;
			p {
				font-family: "FiraMedium", sans-serif;
				color: rgba(0,0,0,.5);
			}
		}
	}
}


#related-apps{
	width: 100%;
	height: 198px;
	padding-top: 24px;
	background-color: #3D86BD;
	border-top: 1px solid #2a6693;
	background-image: url(../img/header-background.png);
	background-repeat: repeat;
	h3 {
		font-size: 22px;
		font-family: "FiraLight";
		color: #fff;
	}
	.apps{
		width: 100%;
		background: #333;
		border: $panelBorder;
		margin-top: 24px;
		.app {
			float: left;
			background: #fff;
			padding: 20px;
			border: 1px solid #2a6693;
			.app-image {
				height: 60px;
				width: 60px;
				a, img {
					height: 60px;
					width: 60px;
					display: inline-block;
				}
			}
			.app-details {
				border: none;
				padding: 0;
				position: relative;
				.app-copy {
					position: absolute;
					width: 188px;
					height: 100%;
					margin-left: 10px;
					h2 {
						font-size: 14px;
						font-family: "FiraRegular";
						margin-top: -4px;
						&:hover {
							text-decoration: underline;
						}
					}
					p {
						font-size: 12px;
						font-family: "FiraLight";
					}
					div {
						margin-top: 10px;
					}
				}
				.app-download-button {
					height: 24px;
					cursor: pointer;
					position: absolute;
					right: 0;
					bottom: 0;
					&:hover {
						background: #4CB1FF;
					}
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

}
