$borderColor:rgb(211,211,211);
#appview{
	position: relative;
	min-height: 100%;
}
.app-content-container,#vendor-information{
	display: inline-block;
	vertical-align: top;
}
#vendor-information{
	position: relative;
	left: 16px;
}
/**
 *	All the details of the app
 */
.app-content-container{
	width:938px;
	background: rgb(246,246,246);
	@include border-radius(5px);
	border:solid 1px rgb(211,211,211);
	position: relative;


	/**
	 *	general meta info for the app, icon, rating etc.
	 */
	.app-meta{
		width: 126px;
		height: 100%;
		border-right:solid 1px rgb(211,211,211);
		.img-rating{
			padding: 20px;
			img{
				width: 100%;
			}
			p {
				width: 100%;
				font-size: 13px;
				text-align: center;
				display: inline-block;
				font-family: "FiraRegular";
			}
		}

		.updates{
			padding: 20px;
			border-top: solid 1px $borderColor;
			border-bottom: solid 1px $borderColor;
			h3,p {
				font-size: 12px;
			} 
			h3 {
				font-family: "FiraLight";
				letter-spacing: .3px;
			}
			.date {
				margin-bottom: 15px;
			}
		}

		.govt-rating{
			padding-top:20px;
			padding-bottom: 20px;
			img{
				display: block;
				max-width: 100%;
				margin:0 auto;
			}
		}
	}


	.app-information{

		position: absolute;
		width: 811px;
		.download {
			float: right;
			width: 80px;
			height: 30px;
			padding-top: 6px;
			display: inline-block;
			@include border-radius(5px);
			background: $dark_gray;
			p {
				font-size: 16px;
				color: $white;
				font-family: "FiraRegular";
				text-align: center;
			}
		}
		.ages {
			float: right;
			width: 64px;
			height: 22px;
			padding-top: 4px;
			border: 1px solid $dark_gray;
			display: inline-block;
			margin: 4px 20px 0 0;
			@include border-radius(5px);
			p {
				font-size: 12px;
				color: $dark_gray;
				font-family: "FiraLight";
				letter-spacing: .5px;
				text-align: center;
			}
		}
		.name-author{
			border-bottom:solid 1px $borderColor;
			padding:20px;
			h1 {
				font-size: 24px;
				padding-right: 20px;
				font-family: "FiraLight";
				letter-spacing: -.5px;
			}
			h3 {
				font-size: 14px;
				font-family: "FiraThin";
			}
			h1,h3 {
				display: inline-block;
			}
		}

		.tabs{
			.tab-trigger{
				padding: 10px;
				width: 250px;
				text-align: center;
				display: inline-block;
				text-transform: uppercase;
				font-family: "FiraUltraLight";
				margin: 0 -4px;

				h4{
					font-size: 13px;
					@include transition((color));
					color:#333;
				}

				&:hover{
					cursor: pointer;
					h4{
						@include transition((color));
						color:$blue;
					}
				}
			}

			.tab-trigger:first-child {
				border-right:solid 1px $borderColor;
				width: 249px;
				margin: 0;
			}

			.tab-trigger:last-child {
				border-left: solid 1px $borderColor;
				width: 249px;
				margin: 0;
			}

		}


		#tab-content{
			border-top: solid 1px $borderColor;
			padding: 20px;
			font-size: 14px;
			line-height: 22px;
			font-family: "FiraLight";
		}
	}//end .app-information

	.app-information,.app-meta{
		display: inline-block;
		vertical-align: top;
	}
}// end .app-content-container


#app-links{
	width: 258px;
	height: 180px;
	padding: 20px;
	background: rgb(246,246,246);
	border:solid 1px rgb(211,211,211);
	position: relative;
	@include border-radius(5px);

	.title{
		text-transform: uppercase;
		font-family: "FiraLight";
	}

}

#other-applications{
	h2{
		font-size: 13px;
	}
	#other-applications-list{
		@include panel;
		width:258px;
		height:100%;
		padding:20px;
		.other-app{
			img,.details{
				display: inline-block;
				vertical-align: top;
			}

			.app-download-button.mini-container{
				position:relative;
				top:20px;
			}
		}
	}
}

#reviews{
	margin-top:34px;
	width:104%;
	.view-all-reviews{
		float:right;
	}

	.app-review{
		margin-top:24px;
		display: inline-block;
		vertical-align: top;
		width:300px;
		height:180px;
		padding:0px;
		margin-right:23px;
		@include panel;
		.stars{
			max-width:100px;
			margin:0 auto;
		}
		.rating-copy,.username{
			text-align: center;
		}
	}
}


#related-apps{
	width:100%;
	height:192px;
	padding-top:32px;
	padding-bottom:32px;
	background:$panelBackground;
	border-top:solid 1px $panelBorder;
	margin-top:40px;
	.apps{
		width:106%;
		background:#333;
		border:$panelBorder;
		.app{
			float:left;
		}
	}

}
