@import "matchstick/functions";
$borderColor:rgb(211,211,211);
.app-content-container{
	width:938px;
	height:400px;
	background: rgb(246,246,246);
	border-radius: 4px;
	border:solid 1px rgb(211,211,211);
	position: relative;
	.app-meta{
		padding-top:21px;

		border-right:solid 1px rgb(211,211,211);

		.img-rating{
			padding-right: 21px;
			padding-left: 21px;
			padding-bottom: 21px;
			img{
				width: 97%;
			}
		}

		.updates{
			border-top:solid 1px $borderColor;
			padding-right: 21px;
			padding-left: 21px;
			border-bottom: solid 1px $borderColor;
			text-align: center;
			padding-top:21px;
			padding-bottom:18px;
			h3{
				font-size:13px;
			}
			p{
				font-size: 12px;


			}
		}

		.govt-rating{
			padding-top:21px;
			padding-bottom: 21px;
			img{
				display: block;
				max-width: 100%;
				margin:0 auto;
			}
		}
	}


	.app-information{

		position: absolute;
		width:81%;
		.download{
			float:right;
			width:100px;
			height:30px;
			border:solid 1px blue;
		}
		.name-author{
			border-bottom:solid 1px $borderColor;
			padding:21px;
			width:100%;
			h1,h3,.divider{
				display: inline-block;
				vertical-align: middle;
			}
		}

		.tabs{
			ul{
				li{

					div:first-child.tab-trigger{
						border-right:solid 1px $borderColor;
					}

					div:last-child.tab-trigger{
						border-left: solid 1px $borderColor;
					}

					div.tab-trigger{
						padding:30px;
						h4{
							font-size: 13px;
							@include transition((color));
							color:#333;
						}

						width: 189px;
						text-align: center;
						display: inline-block;
						text-transform: uppercase;
						font-family: "FiraLight";

						&:hover{
							cursor: pointer;

							h4{
								@include transition((color));
								color:$blue;
							}
						}
					}
				}
			}
		}


		#tab-content{
			border-top:solid 1px $borderColor;
			width:100%;
			padding:19px;
		}
	}//end .app-information

	.app-information,.app-meta{
		display: inline-block;
		vertical-align: top;
	}
}// end .app-content-container