#category-page {
	background: url('../img/header-background.png') repeat scroll 0% 0% #F6F6F6;
	padding-bottom: 32px;

	.editorial-collections {
		margin-top: 30px;
	}

	#featured {
		padding: 25px 0;
		.app {
			padding: 0;
			width: 298px;
			.app-details {
				padding: 20px;
				h1 {
					margin-top: 1px;
				}
				h2 {
					margin: 0 0 -1px 0;
				}
			}
			.app-description {
				height: 116px;
				padding: 20px;
				margin-top: 0;
				background: #4CB1FF;
				color: #fff;
				.rating-copy {
					height: 62px;
					display: flex;
					align-items: center;
					p {
						font-family: "FiraRegular", sans-serif;
						width: 100%;
					}
				}
				.username {
					margin-top: 12px;
					p {
						font-family: "FiraMedium", sans-serif;
						color: rgba(0,0,0,.4);
					}
				}
				.review-rating {
					max-width: 104px;
					height: 20px;
				}
				.rating li {
					height: 20px;
					width: 20px;
					img {
						height: 100%;
						width: 100%;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

}

#category-banner{
	width:100%;
	padding: 50px 0;
	height: 150px;
	position: relative;
	overflow: hidden;
	background: #55575C;

	#banner{
		position: absolute;
		top: 0;
		height: 250px;
		width: 100%;
		opacity: 0.4;
		background: url('/img/background1.jpg') no-repeat scroll center center / 100% 250px transparent
	}

	#featured-category-apps{
		float: right;
		background: #fff;
		height: 100px;
		position: relative;
		width: 300px;
		@include border-radius(5px);
	}

	#in-view-featured{
		opacity: 0;

		img, h1, h3 {
			position: absolute;
		}
		img {
			height: 60px;
			width: 60px;

			display: block;
			top: 20px;
			left: 20px;
			@include border-radius(5px);
		}
		h1 {
			font-size: 16px;
			font-family: "FiraRegular";
			top: 14px;
			left: 90px;
		}
		h3 {
			font-size: 14px;
			font-family: "FiraLight";
			top: 30px;
			left: 90px;
		}

		.star-rating {
			height: 20px;
			width: 100px;
			position: absolute;
			bottom: 20px;
			left: 90px;
		}

		.stars {
			ul li {
				img {
					height: 15px;
					width: 15px;
					top: 0;
					left: 0;
				}
			}
		}

	}

	#category-details{
		position: relative;

		img,.category-copy{
			display: inline-block;
			vertical-align: middle;
		}

		.category-copy{
			position: relative;
			left:39px;
			color: #fff;
			h2 {
				font-size: 12px;
				border: 1px solid #fff;
				padding: 3px 8px;
				@include border-radius(5px);
			}
			p {
				max-width: 370px;
				font-family: "FiraUltraLight";
				font-size: 14px;
				margin-top: -5px;
			}
		}

		#category-title{
			color: #fff;
			position: relative;
			font-size: 62px;
			margin-left: -2px;
			letter-spacing: -1.5px;
			font-family: "FiraMedium";
		}
	}

}

#popular-in-category{

	h3 {
		margin-bottom: 15px;
	}

	.app-grid{
		height: 100%;
		width: 1258px;
		background:rgba(246,246,246,1.0);
		display: inline-block;
		border: 1px solid #D6D6D6;
		overflow: hidden;
		@include border-radius(5px);

		.category {
			height: 60px;
			width: 274px;
			display: inline-block;
			padding: 20px;
			background: #fff;
			border-right: 1px solid #D6D6D6;
			border-bottom: 1px solid #D6D6D6;

			&:nth-child(4n+4) {
				border-right: none;
				width: 273px;
			}

			&:nth-last-child(-n+4) {
				border-bottom: none;
			}
		}

		.app {
			position: relative;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			border: none;
			background: none;
		}

		img {
			height: 60px;
			width: 60px;
			@include border-radius(5px);
		}

		img, .app-details, .app-download-button{
			vertical-align: top;
			display: inline-block;
			position: absolute;
		}

		.app-download-button {
			right: 0;
			bottom: 0;
		}

		.app-details{
			width: 100%;
			margin-left: 70px;
			border-bottom: 0;
			padding-bottom: 0;
			h4 {
				margin-top: 1px;
				font-size: 14px;
				letter-spacing: -.1px;
				width: 200px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					text-decoration: underline;
				}
			}
			p {
				font-size: 12px;
				font-family: "FiraLight";
				margin: -1px 0 2px 0;
			}
			ul.rating {
				display: inline-block;
				li {
					height: 15px;
					width: 15px;
					display: inline-block;
					margin-right: 0;
					img {
						height: 15px;
						width: 15px;
					}
				}
			}
		}

	}

}//end popular in category
