#category-page {
	background: #F6F6F6;

	.editorial-collections {
		margin-top: 30px;
	}

}

#category-banner{
	width:100%;
	padding: 50px 0;
	height: 150px;
	position: relative;
	overflow: hidden;
	background: #55575C;

	#banner{
		position: absolute;
		top: 0;
		height: 250px;
		width: 100%;
		opacity: 0.4;
		background: url(/img/background1.jpg);
	}


	#featured-category-apps{
		float: right;
		background: #fff;
		height: 100px;
		position: relative;
		width: 300px;
		@include border-radius(5px);
	}

	#in-view-featured{
		opacity: 0;

		img, h1, h3 {
			position: absolute;
		}
		img {
			height: 60px;
			width: 60px;

			display: block;
			top: 20px;
			left: 20px;
			@include border-radius(5px);
		}
		h1 {
			font-size: 16px;
			font-family: "FiraRegular";
			top: 14px;
			left: 90px;
		}
		h3 {
			font-size: 14px;
			font-family: "FiraLight";
			top: 30px;
			left: 90px;
		}
	}

	#category-details{
		position: relative;

		img,.category-copy{
			display: inline-block;
			vertical-align: middle;
		}

		.category-copy{
			position: relative;
			left:39px;
			color: #fff;
			h2 {
				font-size: 12px;
				border: 1px solid #fff;
				padding: 3px 8px;
				@include border-radius(5px);
			}
			p {
				max-width: 370px;
				font-family: "FiraUltraLight";
				font-size: 14px;
				margin-top: -5px;
			}
		}

		#category-title{
			color: #fff;
			position: relative;
			font-size: 62px;
			margin-left: -2px;
			letter-spacing: -1.5px;
			font-family: "FiraMedium";
		}
	}

}

#popular-in-category{

	.app-set{
		height: 116px;
		width:316px;
		background:rgba(246,246,246,1.0);
		display: inline-block;
		vertical-align: top;
		border:solid 1px #979797;
		margin:0.5px 0.5px;

		.app{
			position: relative;
			top:20px;
			left:20px;
		}
		img,.app-details{
			vertical-align: top;
			display: inline-block;
		}

		.install-button{
			height:25px;
			width:65px;
			background: $blue;
			border-radius: 4px;
			position: absolute;
			right:44px;
			bottom:-6px;
			text-align: center;
			color: #fff;
		}
		.app-details{
			position: relative;
			p{
				font-size:12px;
				font-family: "FiraThin";
			}


		}
	}

}//end popular in category

/**
 *	Fix star rating images for featured box
 */
.featured-app{
	.stars{
		.rating{
			li{
				img{
					height:14px;
					width:20px;
				}
			}
		}
	}
}
