@font-face {
	font-family: "FiraBold";
	src: url("/fonts/FiraSans-Heavy.ttf");
}

@font-face {
	font-family: "FiraRegular";
	src: url("/fonts/FiraSans-Medium.ttf");
}

@font-face {
	font-family: "FiraThin";
	src: url("/fonts/FiraSans-Thin.ttf");
}

@font-face {
	font-family: "FiraLight";
	src: url("/fonts/FiraSans-Light.ttf");
}

