.apps{
	ul{
		li{
			display: inline-block;
			vertical-align: top;
			.app-box{
				border:solid 1px red;
				width: 200px;
				height: 200px;
				padding: 30px;

			}
		}
	}
}

#categories{

	.wrap{
		width:1024px;
		height:100%;
		margin:0 auto;
		background: red;
		position: relative;
		#category-list{
			background: #607d8b;
			width:300px;
			li{
				padding:30px;
			}
		}
	}

	#category-preview{
		height:100%;
		width:71%;
		position: absolute;
		top:0;
		right:0;
		background:yellow;
		.category-wrap{
			opacity: 0;
		}
	}
}

#searchresults{
	position: absolute;
	min-width:100%;
	min-height: 100%;
	background:rgba(3,169,244,0.9);
	left:0;
	top:-99990px;
	z-index: 99;
	.search-wrap{
		display: block;
		padding:30px;
		margin:0 auto;

		#searchterm{
			background: none;
			border:none;
			border-bottom:solid 1px #fff;
			width:100%;
			color:#fff;
			font-size:40px;

			&:focus{
				outline: 0;
			}

		}
	}


	#results{
		overflow-x: hidden;
		overflow-y: scroll;
		max-width: 100%;
		position: relative;
		top:10px;

		.searchresult{
			border:solid 1px red;
			width: 200px;
			height: 200px;
			padding: 30px;
			display: inline-block;
		}
	}
}