@import "vars";



.all-trigger{
	float:right;
	font-size:12px;
	position:relative;
	top:8px;

	@include transition((color));
	color:#333;

	&:hover{
		@include transition((color));
		color:#42cafe;
		cursor:pointer;
	}
}

#search-home{
	height:200px;
	width:100%;
	background: $dark_gray;
	position: relative;
	div.wrap{
		padding:20px;
		padding-top:40px;
		#homesearch{
			font-family: "FiraThin";
			outline: none;
			padding:4px;
			background: none;
			border:none;
			border-bottom:solid 1px #fff;
			width:100%;
			color:#fff;
			font-size:60px;
			letter-spacing: -1.5px;
		}
	}


}//end #search-home

#search-home-result{
	height:0px;
	width:100%;
	background: $blue;
	position: absolute;
	top:307px;
	z-index: 99;
	.searchresult{
		display: inline-block;

	}
}



.home-main{
	margin-top:50px;
	.column{
		height:40px;
		width:40px;
		display: inline-block;
		vertical-align: top;
		background: #333;
		margin-right:21px;

		&.main{
			width:620px;
			height:366px;
		}

		&.secondary{
			width:300px;
			height:366px;
		}

		&.third{
			.inner-box{
				width:300px;
				height:173px;
				background: $green;
				margin-bottom: 20px;
			}
		}
	}
}

#featured{
	.app{
		display: inline-block;
		vertical-align: top;
	}
	.app-wrap{
		padding:20px;
	}
}



#category-list{
	.category{
		width:300px;
		height: 523px;
		background:#F8F8F8;
		border:solid 1px #D6D6D6;
		display: inline-block;
		vertical-align: top;
		margin-right:20px;
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;

		.category-title{
			background:#fff;
			width:100%;
			height:103px;

			.title-wrap{
				padding:20px;
				.icon,.title-copy{
					display: inline-block;
					vertical-align: middle;

				}

				.icon{
					height:65px;
					width:65px;
					background: #333;
					border-radius: 41px;
				}
			}
		}
	}
}
