.apps{
	&:after{
		content:"";
		display: block;
		clear:both;
	}
	.app{
//		border:solid 1px red;
		float:left;
		padding: 30px;
		margin-bottom: 20px;
		position: relative;


		.app-icon{
			width:64px;
			margin:0 auto;
			display: block;
		}

		.app-details{
			position: relative;
			z-index:2;
		}

		//////// FEATURED //////////////
		.curve{
			height: 100px;
			width: 222px;
			background: rgba(25,160,79,0.8);
			position: absolute;
			bottom: 0;
			left: 71px;
			border-radius: 86px / 37px;
			transform: scale(2, 2);
			z-index: 1;
		}
		&.featured{
			background:rgba(135,207,62,1.0);
			overflow: hidden;
			width: 300px;
			height: 137px;

			a{
				font-size:12px;
				color:#fff;
			}
			p{
				color:#fff;
				font-size:10px;
			}
		}

		&.highlighted{

		}
	}
}

#categories{

	.wrap{
		width:1024px;
		height:100%;
		margin:0 auto;
		background: red;
		position: relative;
		#category-list{
			background: #607d8b;
			width:300px;
			li{
				padding:30px;
			}
		}
	}

	#category-preview{
		height:100%;
		width:71%;
		position: absolute;
		top:0;
		right:0;
		background:yellow;
		.category-wrap{
			opacity: 0;
		}
	}
}

#searchresults{
	position: absolute;
	min-width:100%;
	min-height: 100%;
	background:rgba(3,169,244,0.9);
	left:0;
	top:-99990px;
	z-index: 99;
	.search-wrap{
		display: block;
		padding:30px;
		margin:0 auto;

		#searchterm{
			background: none;
			border:none;
			border-bottom:solid 1px #fff;
			width:100%;
			color:#fff;
			font-size:40px;

			&:focus{
				outline: 0;
			}

		}
	}


	#results{
		overflow-x: hidden;
		overflow-y: scroll;
		max-width: 100%;
		position: relative;
		top:10px;

		.searchresult{
			border:solid 1px red;
			width: 200px;
			height: 200px;
			padding: 30px;
			display: inline-block;
		}
	}
}