
//action primary
$blue:rgba(76,177,255,1.0);
$green:rgba(100,190,60,1.0);
$yellow:rgba(255,220,50,1.0);
$red:rgba(245,75,60,1.0);

//action secondary
$blueSecondary:#42cafe;
$greenSecondary:#66d071;
$yellowSecondary:#ffe26e;
$redSecondary:#ff6c70;


//collections
@mixin feedColor($color,$opacity:1.0){
	@if $color == "ruby"{
		color:rgba(206,0,28,$opacity);
	}@else if $color == "amber"{
		color:rgba(246,136,19,$opacity);
	}@else if $color == "emerald"{
		color:rgba(0,149,63,$opacity);
	}@else if $color == "topaz"{
		color:rgba(0,153,208,$opacity);
	}@else if $color == "sapphire"{
		color:rgba(30,30,156,$opacity);
	}@else if $color == "amethyst"{
		color:rgba(90,25,126,$opacity);
	}
}