@import "matchstick/functions";
@import "loader";
@import "home";
@import "category";
@import "appview";
@import "fonts";


$grey:#e9e9e9;

*{
	margin:0;
	padding:0;
}

#rating{
	li{
		float:left;

		img{
			max-width: 80%;
		}
	}
}

body,html{
	font-size: 100%;
	font-family: "FiraRegular",sans-serif;
	overflow-x: hidden;
	color:rgba(71,72,77,1.0);
}

/**======= COMMON =============*/
ul,li{
	list-style: none;
}

.dark{
	color:rgba(68,71,75,1.0);
}

.thin{
	font-family: "FiraLight";
}

a{
	text-decoration: none;
	color:#000;
}

/**======= HEADER =============*/
header{
	width:100%;
	background: $grey;
	padding-top:20px;
	padding-bottom: 20px;
	h1{
		font-family: "FiraRegular";
	}
	.wrap{

		div{
			vertical-align: middle;
		}
		div:first-child{
			display: inline-block;

			img,h1{
				vertical-align: middle;
				display: inline-block;
			}


		}

		div:last-child{
			float:right;
			display: inline-block;

			/**======= SEARCH =============*/
			#searchbutton{
				border:solid 1px #333333;
				background: none;
				width:100px;
				height:40px;
				border-radius: 4px;
				position: relative;
				left:-200px; 
			}

			#user{
				img,p{
					display: inline-block;
					vertical-align: middle;
				}
			}

			#user-details{
				position: absolute;
				height: 45px;
				width: 300px;
				background: $grey;
				padding: 20px;
				z-index: 99;
				top: 0px;
				overflow: hidden;
				right:255px;
				@include transition((background));

				.identification{
					float:right;

					img{
						margin-left:10px;
					}
				}
				&.open{
					@include transition((background));
					background: $green;
				}
			}
			#menu-trigger{
				&:hover{
					cursor: pointer;
				}
				img{
					display: inline-block;
				}
			}

		}//end div:last-child


	}//end header:wrap

}

.wrap{
	max-width: 1500px;
	margin: 0 auto;
}


/**
 *	References sections that are loading in content via AJAX
 */
.section{
	opacity: 1;
	@include transition((opacity));
	&.ajax{
		opacity: 0;
		@include transition((opacity));
	}
}

#searchresults{
	position: absolute;
	min-width:100%;
	min-height: 100%;
	background:rgba(3,169,244,0.9);
	left:0;
	top:-99990px;
	z-index: 99;
	.search-wrap{
		display: block;
		padding:30px;
		margin:0 auto;

		#searchterm{
			background: none;
			border:none;
			border-bottom:solid 1px #fff;
			width:100%;
			color:#fff;
			font-size:40px;

			&:focus{
				outline: 0;
			}

		}
	}


	#results{
		overflow-x: hidden;
		overflow-y: scroll;
		max-width: 100%;
		position: relative;
		top:10px;

		.searchresult{
			border:solid 1px red;
			width: 200px;
			height: 200px;
			padding: 30px;
			display: inline-block;
		}
	}
}

//apps
.apps{
	&:after{
		content:"";
		display: block;
		clear:both;
	}
	.app {
		//border:solid 1px red;
		float: left;
		padding: 30px;
		margin-bottom: 20px;
		position: relative;

		.app-icon {
			width: 64px;
			margin: 0 auto;
			display: block;
		}

		.app-details {
			position: relative;
			z-index: 2;
		}
	}
}