@import "matchstick/functions";
@import "partials/variables";
@import "partials/mixins";
@import "loader";
@import "home";
@import "category";
@import "appview";
@import "apps";

$grey:#e9e9e9;

*{
	margin:0;
	padding:0;

	p{
		font-family: "FiraLight";

	}
}

.rating{
	li{
		float:left;
		height: 15px;
		width: 15px;
		img{
			height: 15px;
			width: 15px;
		}
	}
}

body,html{
	font-size: 100%;
	font-family: "FiraRegular",sans-serif;
	overflow-x: hidden;
	color:rgba(71,72,77,1.0);
}

.thin{
	font-family: "FiraThin";
}

h1, h2, h3, h4, h5, p {
	font-weight: normal;
}

/**======= COMMON =============*/
ul,li{
	list-style: none;
}

.dark{
	color:rgba(68,71,75,1.0);
}

.thin{
	font-family: "FiraLight";
}

a{
	text-decoration: none;
	color: $copy;
	cursor: pointer;
}

footer {
	width:100%;

	&#developers {
		background:#EDEDED;
		#developer-link{
			width:300px;
			height:30px;
			padding-top:15px;
			padding-bottom:15px;
			position: relative;
			bottom:13px;
			background:#F8F8F8;
			text-align: center;
			border:solid 1px #A7A7A7;
		}
	}

	&#mozilla{
		font-family: "FiraLight";
		font-size: 10px;
		color: $copy;
		img {
			height: 20px;
			width: 78px;
			margin-right: 30px;
		}
		p {
			max-width: 450px;
		}
		.links {
			margin-top: 8px;
		}
		a {
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid #55575C;
		}
		a:last-child {
			margin: 0;
			padding: 0;
			border: 0;
		}
	}

	.footer-wrapper {
		max-width: 1260px;
		margin: 0 auto;
		padding: 30px 0;
		display: block;
		h2, p, div, img {
			display: inline-block;
			vertical-align: middle;
		}

		p{
			position: relative;
			left:40px;
			font-size: 14px;

		}
		div {
			float: right;
		}
	}
}



/**======= HEADER =============*/
header{
	width:100%;
	background: #fff;
	padding-top:20px;
	padding-bottom: 20px;
	border-bottom: solid 1px $borderColor;
	h1{
		font-family: "FiraRegular";
	}
	.wrap{
		position: relative;
		div{
			vertical-align: middle;
			cursor: pointer;
		}
		div:first-child{
			display: inline-block;

			img,h1{
				vertical-align: middle;
				display: inline-block;
			}


		}
		/**======= SEARCH =============*/
		#searchbutton{
			border:solid 1px #333333;
			background: none;
			width:100px;
			padding-top:10px;
			padding-bottom: 10px;
			border-radius: 4px;
			position: relative;
			left:30%;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			z-index: 100;
		}
		div:last-child{
			float:right;
			display: inline-block;


			#user{
				img,p{
					display: inline-block;
					vertical-align: middle;
				}
			}

			#user-details{
				position: absolute;
				height: 45px;
				width: 280px;
				padding: 20px;
				margin: -20px -20px 0 0;
				top: 0px;
				right: 0px;
				overflow: hidden;
				z-index: 99;
				@include transition((background));

				.identification{
					float:right;
					p {
						font-size: 13px;
					}
					img{
						margin-left:10px;
					}
				}
				&.open{
					@include transition((background));
					background: $blue;
				}
			}
			#menu-trigger{
				float: right;
				margin-left: 30px;
				&:hover{
					cursor: pointer;
				}
				img{
					display: inline-block;
				}
			}

		}//end div:last-child


	}//end header:wrap

}

.wrap{
	max-width: 1260px;
	margin: 0 auto;
}


/**
 *	References sections that are loading in content via AJAX
 */
.section{
	opacity: 1;
	@include transition((opacity));
	&.ajax{
		opacity: 0;
		@include transition((opacity));
	}
}

#searchresults{
	position: absolute;
	min-width:100%;
	min-height: 100%;
	background:rgba(3,169,244,0.9);
	left:0;
	top:-99990px;
	z-index: 99;
	.search-wrap{
		display: block;
		padding:30px;
		margin:0 auto;

		#searchterm{
			background: none;
			border:none;
			border-bottom:solid 1px #fff;
			width:100%;
			color:#fff;
			font-size:40px;

			&:focus{
				outline: 0;
			}

		}
	}


	#results{
		overflow-x: hidden;
		overflow-y: scroll;
		max-width: 100%;
		position: relative;
		top:10px;

		.searchresult{
			border:solid 1px red;
			width: 200px;
			height: 200px;
			padding: 30px;
			display: inline-block;
		}
	}
}

/**
 *	Styling for editorial content
 */


/**
 *	Editorial content
 */

.editorial-collections {
	.collections {

		.collection {
			width: 338px;
			height: 170px;
			background: #e6e6e6;
			display: inline-block;
			vertical-align: top;
			padding: 30px;
			margin-right: 26px;
			position:relative;
			border: 1px solid #D6D6D6;
			@include border-radius(5px);

			&:last-child {
				width: 337px;
			}

			.collection-apps {
				max-width: 271px;
				margin: 0 auto;
				.collection-app {
					height: 70px;
					width: 70px;
					background: #333;
					display: inline-block;
					vertical-align: top;
					position: relative;
					z-index: 2;
					margin-right: 26px;
					@include border-radius(5px);
				}
				.collection-app:last-child {
					margin: 0;
				}
			}

			.collection-copy {
				margin-top: 24px;
				h2 {
					font-size: 20px;
					letter-spacing: -.5px;
				}
				p {
					font-family: "FiraLight";
					font-size: 14px;
					margin-top: 8px;
				}
			}


		}

		.collection:last-child {
			margin: 0;
		}
	}
}

/**
 *	Ratings
 */
.review{
	text-align: center;

	.review-rating{
		max-width: 100px;
		margin:0 auto;
	}

}


/**
 *	the Main search container
 */

#mainsearch{
	position: absolute;
	top:0;
	left:0;
	margin-top: 87px;
	width: 100%;
	height: 0;
	background:red;
	z-index: 999;
	overflow: hidden;
}

#nav-controls{
	position:absolute;
	width:100%;

	#back-button{
		position: absolute;
	}
	#forward-button{
		right:0;
		position:absolute;
	}
}