/**
 *  Applies transitions to a list of properties.
 *  @param{List} a sass list of all the properties you'd like to apply a transition to
 *  @param{Number} a number for the duration of the transition (defaults to 0.5)
 *  @param{String} a string of the type of easing you'd like to apply to the transition
 */
/**
 *  Centers stuff vertically in the browser
 */
@font-face {
  font-family: "FiraBold";
  src: url("/fonts/FiraSans-Heavy.ttf");
}

@font-face {
  font-family: "FiraRegular";
  src: url("/fonts/FiraSans-Medium.ttf");
}

@font-face {
  font-family: "FiraThin";
  src: url("/fonts/FiraSans-Thin.ttf");
}

@font-face {
  font-family: "FiraLight";
  src: url("/fonts/FiraSans-Light.ttf");
}

@font-face {
  font-family: "FiraUltraLight";
  src: url("/fonts/FiraSans-Light.ttf");
}

/**
 *	Main panel styling
 */
/**
 *	From http://tobiasahlin.com/spinkit/
 *	TODO write our own
 */
/* line 7, ../scss/_loader.scss */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

/* line 15, ../scss/_loader.scss */
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

/* line 25, ../scss/_loader.scss */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 30, ../scss/_loader.scss */
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 35, ../scss/_loader.scss */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 40, ../scss/_loader.scss */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  /* line 46, ../scss/_loader.scss */
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  /* line 47, ../scss/_loader.scss */
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  /* line 51, ../scss/_loader.scss */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  /* line 54, ../scss/_loader.scss */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* line 1, ../scss/_home.scss */
.all-trigger {
  float: right;
  font-size: 12px;
  position: relative;
  top: 8px;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #333;
}
/* line 10, ../scss/_home.scss */
.all-trigger:hover {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #42cafe;
  cursor: pointer;
}

/* line 17, ../scss/_home.scss */
#search-home {
  height: 200px;
  width: 100%;
  background: #55575c;
  position: relative;
}
/* line 22, ../scss/_home.scss */
#search-home div.wrap {
  padding: 20px;
  padding-top: 40px;
}
/* line 25, ../scss/_home.scss */
#search-home div.wrap #homesearch {
  font-family: "FiraThin";
  outline: none;
  padding: 4px;
  background: none;
  border: none;
  border-bottom: solid 1px #fff;
  width: 100%;
  color: #fff;
  font-size: 60px;
  letter-spacing: -1.5px;
}

/* line 42, ../scss/_home.scss */
#search-home-result {
  height: 0px;
  width: 100%;
  background: #4cb1ff;
  position: absolute;
  top: 307px;
  z-index: 99;
}
/* line 49, ../scss/_home.scss */
#search-home-result .searchresult {
  display: inline-block;
}

/* line 57, ../scss/_home.scss */
.home-main {
  margin-top: 50px;
}
/* line 59, ../scss/_home.scss */
.home-main .column {
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: top;
  background: #333;
  margin-right: 21px;
}
/* line 67, ../scss/_home.scss */
.home-main .column.main {
  width: 620px;
  height: 366px;
}
/* line 72, ../scss/_home.scss */
.home-main .column.secondary {
  width: 300px;
  height: 366px;
}
/* line 78, ../scss/_home.scss */
.home-main .column.third .inner-box {
  width: 300px;
  height: 173px;
  background: #64be3c;
  margin-bottom: 20px;
}

/* line 89, ../scss/_home.scss */
#featured .app {
  display: inline-block;
  vertical-align: top;
}
/* line 93, ../scss/_home.scss */
#featured .app:last-child {
  margin: 0;
}

/* line 101, ../scss/_home.scss */
#category-list .category {
  width: 298px;
  background: #F8F8F8;
  border: solid 1px #D6D6D6;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 110, ../scss/_home.scss */
#category-list .category .category-title {
  background: #fff;
  width: 100%;
  height: 103px;
  border-bottom: 1px solid #D6D6D6;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 122, ../scss/_home.scss */
#category-list .category .category-title .title-wrap {
  padding: 20px;
}
/* line 124, ../scss/_home.scss */
#category-list .category .category-title .title-wrap .icon, #category-list .category .category-title .title-wrap .title-copy {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 135, ../scss/_home.scss */
#category-list .category .category-title .title-wrap .icon {
  height: 65px;
  width: 65px;
  background: #333;
  border-radius: 41px;
}
/* line 144, ../scss/_home.scss */
#category-list .category .app {
  border: 0;
  padding: 20px 20px 0 20px;
}
/* line 147, ../scss/_home.scss */
#category-list .category .app .app-details {
  padding: 0;
  border: 0;
}
/* line 152, ../scss/_home.scss */
#category-list .category .app:last-child {
  padding: 20px;
}
/* line 156, ../scss/_home.scss */
#category-list .category:last-child {
  margin: 0;
}

/* line 1, ../scss/_category.scss */
#category-banner {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}
/* line 7, ../scss/_category.scss */
#category-banner #banner {
  position: absolute;
  top: 0;
  height: 300px;
  width: 100%;
  opacity: 0.4;
  background: url(/img/background1.jpg);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: url(blur.svg#blur);
}
/* line 21, ../scss/_category.scss */
#category-banner #featured-category-apps {
  float: right;
  background: #F2F2F2;
  height: 150px;
  position: relative;
  top: 40px;
  width: 300px;
  border-radius: 4px;
}
/* line 30, ../scss/_category.scss */
#category-banner #featured-category-apps h1 {
  font-size: 20px;
}
/* line 33, ../scss/_category.scss */
#category-banner #featured-category-apps h3 {
  font-size: 14px;
}
/* line 36, ../scss/_category.scss */
#category-banner #featured-category-apps h1, #category-banner #featured-category-apps h3 {
  font-family: "FiraThin";
  position: relative;
  left: 10px;
  top: 20px;
}
/* line 44, ../scss/_category.scss */
#category-banner #in-view-featured {
  opacity: 0;
}
/* line 46, ../scss/_category.scss */
#category-banner #in-view-featured img {
  height: 64px;
  width: 64px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 10px;
}
/* line 56, ../scss/_category.scss */
#category-banner #category-details {
  position: relative;
  top: 40px;
}
/* line 60, ../scss/_category.scss */
#category-banner #category-details img, #category-banner #category-details .category-copy {
  display: inline-block;
  vertical-align: middle;
}
/* line 65, ../scss/_category.scss */
#category-banner #category-details .category-copy {
  position: relative;
  left: 39px;
}
/* line 68, ../scss/_category.scss */
#category-banner #category-details .category-copy p {
  max-width: 370px;
  font-family: "FiraLight";
}
/* line 74, ../scss/_category.scss */
#category-banner #category-details #category-title {
  color: #55575C;
  position: relative;
  font-size: 50px;
}

/* line 86, ../scss/_category.scss */
#popular-in-category .app-set {
  height: 116px;
  width: 316px;
  background: #f6f6f6;
  display: inline-block;
  vertical-align: top;
  border: solid 1px #979797;
  margin: 0.5px 0.5px;
}
/* line 95, ../scss/_category.scss */
#popular-in-category .app-set .app {
  position: relative;
  top: 20px;
  left: 20px;
}
/* line 100, ../scss/_category.scss */
#popular-in-category .app-set img, #popular-in-category .app-set .app-details {
  vertical-align: top;
  display: inline-block;
}
/* line 105, ../scss/_category.scss */
#popular-in-category .app-set .install-button {
  height: 25px;
  width: 65px;
  background: #4cb1ff;
  border-radius: 4px;
  position: absolute;
  right: 44px;
  bottom: -6px;
  text-align: center;
  color: #fff;
}
/* line 116, ../scss/_category.scss */
#popular-in-category .app-set .app-details {
  position: relative;
}
/* line 118, ../scss/_category.scss */
#popular-in-category .app-set .app-details p {
  font-size: 12px;
  font-family: "FiraThin";
}

/* line 3, ../scss/_appview.scss */
.app-content-container, #vendor-information {
  display: inline-block;
  vertical-align: top;
}

/**
 *	All the details of the app
 */
/* line 11, ../scss/_appview.scss */
.app-content-container {
  width: 938px;
  height: 400px;
  background: #f6f6f6;
  border-radius: 4px;
  border: solid 1px lightgrey;
  position: relative;
  /**
   *	general meta info for the app, icon, rating etc.
   */
}
/* line 23, ../scss/_appview.scss */
.app-content-container .app-meta {
  padding-top: 21px;
  border-right: solid 1px lightgrey;
}
/* line 26, ../scss/_appview.scss */
.app-content-container .app-meta .img-rating {
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 21px;
}
/* line 30, ../scss/_appview.scss */
.app-content-container .app-meta .img-rating img {
  width: 97%;
}
/* line 35, ../scss/_appview.scss */
.app-content-container .app-meta .updates {
  border-top: solid 1px lightgrey;
  padding-right: 21px;
  padding-left: 21px;
  border-bottom: solid 1px lightgrey;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 18px;
}
/* line 43, ../scss/_appview.scss */
.app-content-container .app-meta .updates h3 {
  font-size: 13px;
}
/* line 46, ../scss/_appview.scss */
.app-content-container .app-meta .updates p {
  font-size: 12px;
}
/* line 53, ../scss/_appview.scss */
.app-content-container .app-meta .govt-rating {
  padding-top: 21px;
  padding-bottom: 21px;
}
/* line 56, ../scss/_appview.scss */
.app-content-container .app-meta .govt-rating img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/* line 65, ../scss/_appview.scss */
.app-content-container .app-information {
  position: absolute;
  width: 81%;
}
/* line 69, ../scss/_appview.scss */
.app-content-container .app-information .download {
  float: right;
  width: 100px;
  height: 30px;
  border: solid 1px blue;
}
/* line 75, ../scss/_appview.scss */
.app-content-container .app-information .name-author {
  border-bottom: solid 1px lightgrey;
  padding: 21px;
  width: 100%;
}
/* line 79, ../scss/_appview.scss */
.app-content-container .app-information .name-author h1, .app-content-container .app-information .name-author h3, .app-content-container .app-information .name-author .divider {
  display: inline-block;
  vertical-align: middle;
}
/* line 89, ../scss/_appview.scss */
.app-content-container .app-information .tabs ul li div:first-child.tab-trigger {
  border-right: solid 1px lightgrey;
}
/* line 93, ../scss/_appview.scss */
.app-content-container .app-information .tabs ul li div:last-child.tab-trigger {
  border-left: solid 1px lightgrey;
}
/* line 97, ../scss/_appview.scss */
.app-content-container .app-information .tabs ul li div.tab-trigger {
  padding: 30px;
  width: 189px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-family: "FiraLight";
}
/* line 99, ../scss/_appview.scss */
.app-content-container .app-information .tabs ul li div.tab-trigger h4 {
  font-size: 13px;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #333;
}
/* line 111, ../scss/_appview.scss */
.app-content-container .app-information .tabs ul li div.tab-trigger:hover {
  cursor: pointer;
}
/* line 114, ../scss/_appview.scss */
.app-content-container .app-information .tabs ul li div.tab-trigger:hover h4 {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #4cb1ff;
}
/* line 125, ../scss/_appview.scss */
.app-content-container .app-information #tab-content {
  border-top: solid 1px lightgrey;
  width: 100%;
  padding: 19px;
}
/* line 132, ../scss/_appview.scss */
.app-content-container .app-information, .app-content-container .app-meta {
  display: inline-block;
  vertical-align: top;
}

/* line 139, ../scss/_appview.scss */
#app-links {
  width: 280px;
  height: 180px;
  padding: 20px;
  background: #f6f6f6;
  border-radius: 4px;
  border: solid 1px lightgrey;
  position: relative;
}
/* line 148, ../scss/_appview.scss */
#app-links .title {
  text-transform: uppercase;
  font-family: "FiraLight";
}

/* line 156, ../scss/_appview.scss */
#other-applications h2 {
  font-size: 13px;
}
/* line 159, ../scss/_appview.scss */
#other-applications #other-applications-list {
  background: #f6f6f6;
  border-radius: 4px;
  border: solid 1px lightgrey;
  position: relative;
  width: 280px;
  height: 100%;
  padding: 20px;
}
/* line 165, ../scss/_appview.scss */
#other-applications #other-applications-list .other-app img, #other-applications #other-applications-list .other-app .details {
  display: inline-block;
  vertical-align: top;
}
/* line 170, ../scss/_appview.scss */
#other-applications #other-applications-list .other-app .app-download-button.mini-container {
  position: relative;
  top: 20px;
}

/* line 179, ../scss/_appview.scss */
#reviews .view-all-reviews {
  float: right;
}
/* line 183, ../scss/_appview.scss */
#reviews .app-review {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  height: 160px;
  padding: 0px;
  background: #f6f6f6;
  border-radius: 4px;
  border: solid 1px lightgrey;
  position: relative;
}
/* line 190, ../scss/_appview.scss */
#reviews .app-review .stars {
  max-width: 100px;
  margin: 0 auto;
}
/* line 194, ../scss/_appview.scss */
#reviews .app-review .rating-copy, #reviews .app-review .username {
  text-align: center;
}

/* line 201, ../scss/_appview.scss */
#related-apps {
  width: 100%;
  height: 192px;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #f6f6f6;
  border-top: solid 1px lightgrey;
}
/* line 209, ../scss/_appview.scss */
#related-apps .apps {
  width: 100%;
  background: #333;
  border: lightgrey;
}
/* line 213, ../scss/_appview.scss */
#related-apps .apps .app {
  float: left;
}
/* line 217, ../scss/_appview.scss */
#related-apps .wrap {
  padding-left: 79px;
}

/* line 1, ../scss/_apps.scss */
.app {
  width: 258px;
  height: 100%;
  background: #f8f8f8;
  margin-right: 20px;
  padding: 20px;
  border: solid 1px #D6D6D6;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 11, ../scss/_apps.scss */
.app.with-description {
  height: 153px;
}
/* line 15, ../scss/_apps.scss */
.app.with-review {
  height: 255px;
}
/* line 19, ../scss/_apps.scss */
.app .app-icon {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 25, ../scss/_apps.scss */
.app .app-details {
  border-bottom: solid 1px #D6D6D6;
  padding-bottom: 20px;
}
/* line 29, ../scss/_apps.scss */
.app .app-details .app-image, .app .app-details .app-copy {
  display: inline-block;
  vertical-align: top;
}
/* line 34, ../scss/_apps.scss */
.app .app-details .app-copy {
  overflow: hidden;
  position: relative;
  margin-left: 6px;
  width: 188px;
}
/* line 39, ../scss/_apps.scss */
.app .app-details .app-copy .app-download-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65px;
  height: 25px;
  border-radius: 4px;
  background: #333;
  color: #fff;
}
/* line 48, ../scss/_apps.scss */
.app .app-details .app-copy .app-download-button p {
  text-align: center;
  font-size: 13px;
}
/* line 56, ../scss/_apps.scss */
.app .app-details .app-copy a h1 {
  font-size: 14px;
  letter-spacing: -.5px;
}
/* line 60, ../scss/_apps.scss */
.app .app-details .app-copy a h2 {
  font-size: 12px;
  letter-spacing: -.5px;
  font-family: "FiraLight";
}
/* line 69, ../scss/_apps.scss */
.app .app-description {
  font-size: 14px;
  font-family: "FiraLight";
  overflow: hidden;
}

/**
 *	General App Download BUtton
 */
/* line 84, ../scss/_apps.scss */
.app-download-button {
  width: 65px;
  height: 25px;
  border-radius: 4px;
  position: relative;
  background: #333;
  /**
   *	For containers that are smaller(ie app view in the other applications category)
   */
}
/* line 94, ../scss/_apps.scss */
.app-download-button.mini-container {
  display: inline-block;
  vertical-align: middle;
}
/* line 98, ../scss/_apps.scss */
.app-download-button p {
  position: absolute;
  top: 2px;
  left: 19px;
  font-size: 13px;
  color: #fff;
  color: #fff;
  font-family: "FiraRegular";
}

/* line 12, ../scss/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../scss/main.scss */
.rating li {
  float: left;
  margin-right: -5px;
}
/* line 21, ../scss/main.scss */
.rating li img {
  max-width: 75%;
}

/* line 27, ../scss/main.scss */
body, html {
  font-size: 100%;
  font-family: "FiraRegular",sans-serif;
  overflow-x: hidden;
  color: #47484d;
}

/**======= COMMON =============*/
/* line 35, ../scss/main.scss */
ul, li {
  list-style: none;
}

/* line 39, ../scss/main.scss */
.dark {
  color: #44474b;
}

/* line 43, ../scss/main.scss */
.thin {
  font-family: "FiraLight";
}

/* line 47, ../scss/main.scss */
a {
  text-decoration: none;
  color: #55575c;
  cursor: pointer;
}

/* line 53, ../scss/main.scss */
footer {
  width: 100%;
}
/* line 56, ../scss/main.scss */
footer#developers {
  background: #EDEDED;
}
/* line 58, ../scss/main.scss */
footer#developers #developer-link {
  width: 300px;
  height: 60px;
  background: #F8F8F8;
  border: solid 1px #A7A7A7;
}
/* line 66, ../scss/main.scss */
footer#mozilla {
  font-family: "FiraLight";
  font-size: 10px;
  color: #55575c;
}
/* line 70, ../scss/main.scss */
footer#mozilla img {
  height: 20px;
  width: 78px;
  margin-right: 30px;
}
/* line 75, ../scss/main.scss */
footer#mozilla p {
  max-width: 450px;
}
/* line 78, ../scss/main.scss */
footer#mozilla .links {
  margin-top: 8px;
}
/* line 81, ../scss/main.scss */
footer#mozilla a {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #55575C;
}
/* line 86, ../scss/main.scss */
footer#mozilla a:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 93, ../scss/main.scss */
footer .footer-wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px 0;
  display: block;
}
/* line 98, ../scss/main.scss */
footer .footer-wrapper h2, footer .footer-wrapper p, footer .footer-wrapper div, footer .footer-wrapper img {
  display: inline-block;
  vertical-align: middle;
}
/* line 102, ../scss/main.scss */
footer .footer-wrapper div {
  float: right;
}

/**======= HEADER =============*/
/* line 111, ../scss/main.scss */
header {
  width: 100%;
  background: #e9e9e9;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 116, ../scss/main.scss */
header h1 {
  font-family: "FiraRegular";
}
/* line 121, ../scss/main.scss */
header .wrap div {
  vertical-align: middle;
  cursor: pointer;
}
/* line 125, ../scss/main.scss */
header .wrap div:first-child {
  display: inline-block;
}
/* line 128, ../scss/main.scss */
header .wrap div:first-child img, header .wrap div:first-child h1 {
  vertical-align: middle;
  display: inline-block;
}
/* line 136, ../scss/main.scss */
header .wrap div:last-child {
  float: right;
  display: inline-block;
  /**======= SEARCH =============*/
}
/* line 141, ../scss/main.scss */
header .wrap div:last-child #searchbutton {
  border: solid 1px #333333;
  background: none;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  position: relative;
  left: -200px;
}
/* line 152, ../scss/main.scss */
header .wrap div:last-child #user img, header .wrap div:last-child #user p {
  display: inline-block;
  vertical-align: middle;
}
/* line 158, ../scss/main.scss */
header .wrap div:last-child #user-details {
  position: absolute;
  height: 45px;
  width: 300px;
  background: #e9e9e9;
  padding: 20px;
  z-index: 99;
  top: 0px;
  overflow: hidden;
  right: 255px;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* line 170, ../scss/main.scss */
header .wrap div:last-child #user-details .identification {
  float: right;
}
/* line 173, ../scss/main.scss */
header .wrap div:last-child #user-details .identification img {
  margin-left: 10px;
}
/* line 177, ../scss/main.scss */
header .wrap div:last-child #user-details.open {
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  background: #64be3c;
}
/* line 183, ../scss/main.scss */
header .wrap div:last-child #menu-trigger:hover {
  cursor: pointer;
}
/* line 186, ../scss/main.scss */
header .wrap div:last-child #menu-trigger img {
  display: inline-block;
}

/* line 198, ../scss/main.scss */
.wrap {
  max-width: 1260px;
  margin: 0 auto;
}

/**
 *	References sections that are loading in content via AJAX
 */
/* line 207, ../scss/main.scss */
.section {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 210, ../scss/main.scss */
.section.ajax {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 216, ../scss/main.scss */
#searchresults {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background: rgba(3, 169, 244, 0.9);
  left: 0;
  top: -99990px;
  z-index: 99;
}
/* line 224, ../scss/main.scss */
#searchresults .search-wrap {
  display: block;
  padding: 30px;
  margin: 0 auto;
}
/* line 229, ../scss/main.scss */
#searchresults .search-wrap #searchterm {
  background: none;
  border: none;
  border-bottom: solid 1px #fff;
  width: 100%;
  color: #fff;
  font-size: 40px;
}
/* line 237, ../scss/main.scss */
#searchresults .search-wrap #searchterm:focus {
  outline: 0;
}
/* line 245, ../scss/main.scss */
#searchresults #results {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
  position: relative;
  top: 10px;
}
/* line 252, ../scss/main.scss */
#searchresults #results .searchresult {
  border: solid 1px red;
  width: 200px;
  height: 200px;
  padding: 30px;
  display: inline-block;
}

/**
 *	Styling for editorial content
 */
/**
 *	Editorial content
 */
/* line 274, ../scss/main.scss */
.editorial-collections .collections .collection {
  width: 338px;
  height: 185px;
  background: #e6e6e6;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  margin-right: 26px;
  position: relative;
  border: 1px solid #D6D6D6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 286, ../scss/main.scss */
.editorial-collections .collections .collection .collection-apps {
  max-width: 270px;
  margin: 0 auto;
}
/* line 289, ../scss/main.scss */
.editorial-collections .collections .collection .collection-apps .collection-app {
  height: 70px;
  width: 70px;
  background: #333;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
  margin-right: 26px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 300, ../scss/main.scss */
.editorial-collections .collections .collection .collection-apps .collection-app:last-child {
  margin: 0;
}
/* line 305, ../scss/main.scss */
.editorial-collections .collections .collection .collection-copy {
  margin-top: 24px;
}
/* line 307, ../scss/main.scss */
.editorial-collections .collections .collection .collection-copy h1 {
  font-size: 20px;
  letter-spacing: -.5px;
}
/* line 311, ../scss/main.scss */
.editorial-collections .collections .collection .collection-copy p {
  font-family: "FiraLight";
  font-size: 14px;
  margin-top: 5px;
}
/* line 321, ../scss/main.scss */
.editorial-collections .collections .collection:last-child {
  margin: 0;
}

/**
 *	Ratings
 */
/* line 330, ../scss/main.scss */
.review {
  text-align: center;
}
/* line 333, ../scss/main.scss */
.review .review-rating {
  max-width: 100px;
  margin: 0 auto;
}
