//abuse starts out in a "closed" state.
div#abused(class="modal closed")
    div.modalBox
        h2 Report Abuse
        div.closeModal
        textarea(name="abuse",placeholder="enter details of the abuse")

