div#categoriess
    div.wrap
        h1#categories-title(translate) All Categories
        div#category-all
            div.wrap
                div.category(data-ng-repeat="item in appcategories")
                    div.category-title(data-name="{{item.name}}")
                        div.title-wrap
                            div.icon(class="{{item.slug}}")
                                span.cat-icon
                            div.title-copy
                                h3 {{item.name}}
                                a(href="/category/{{item.slug}}")
                                    p(translate) View All From Category &#9656;