<div class="editorial-category">
    <div class="section">
        <p>Enter a title</p>
        <input type="text" name="category-title"/>
    </div>

    <div class="section">
        <p>Enter a description</p>
        <input type="text" name="category-description"/>
    </div>

    <div class="section appids">
        <p>Enter the app id's to feature in the ccategory</p>
        <input class="app-id" type="text" name="category-app1" placeholder="Enter id 1"/><br/>
        <input type="text" name="category-app2" placeholder="Enter id 2"/><br/>
        <input type="text" name="category-app3" placeholder="Enter id 3"/><br/>


    </div>
    <button ng-click="addNewApp($event)">Add another app</button>
</div>