//abuse starts out in a "closed" state.
div#feedback(class="modal closed")
    div.modalBox
        h2 Send Feedback
        div.closeModal
        textarea(name="review",placeholder="enter details of the abuse")
