footer#developers
    div.footer-wrapper
        h2 Develop For Firefox Marketplace
        p Lorem ipsum apple mapple bop
        div#developer-link Visit the developer hub

footer#mozilla
    div.footer-wrapper
        img(src="/img/mozilla_logo.svg" alt="mozilla logo")
        p Except where otherwise noted, content on this site is licensed under the Creative Commons Attribution Share-Alike License v3.0 or any later version.
        div.links
            a Privacy Policy
            a Terms of Use
            a Report Trademark Abuse