footer
    footer.footer-wrapper
        h2 Develop For Firefox Marketplace
        p Lorem ipsum apple mapple bop
        div#developer-link Visit the developer hub


footer#mozilla
    div.footer-wrapper
        h2 Mozilla
        p lorem ipfoeisfhoiesfho

        div.links
            a test test