header
    div.wrap
        div(data-ng-click="returnHome()")
            img(src="/img/marketplace.png" alt="marketplace-logo")
            h1
                span.dark(translate) Firefox
                span.thin(translate) Market

        div#searchbutton(translate) Search

        div
            div#user
                div#user-details
                    div.identification
                        p#username(data-ng-click="login()",translate) Sign in
                        img(src="/img/test_user.svg")



                div#menu-trigger(data-ng-click="openMenu($event)")
                    img(src="/img/menu_gear.png")