div#mainsearch
    div.wrap
        input(type="text",name="search",data-ng-model="searchbox",placeholder="Search for anything...",data-ng-change="searchApp($event)")
    div.wrap

        div.resultsbyname(id="mainsearchresults")
            div.searchcolumn
                div.searchresult.app(data-ng-repeat="result in author_results")
                    a(data-ng-href="/app/{{result.id}}")
                        img.app-icon(data-ng-src="{{result.icon}}")
                    h1.result-title {{result.name}}
                    h2.result-author {{result.author}}
            div.searchcolumn
                div.searchresult.app(data-ng-repeat="result in name_results")
                    a(data-ng-href="/app/{{result.id}}")
                        img.app-icon(data-ng-src="{{result.icon}}")
                    h1.result-title {{result.name}}
                    h2.result-author {{result.author}}

            div.searchcolumn
                div.searchresult.app(data-ng-repeat="result in category_results")
                    a(data-ng-href="/app/{{result.id}}")
                        img.app-icon(data-ng-src="{{result.icon}}")
                    h1.result-title {{result.name}}
                    h2.result-author {{result.author}}
header
    div(uicontrols)
    div.wrap
        div(data-ng-click="returnHome()")
            img(src="/img/marketplace.png" alt="marketplace-logo")
            h1
                span.dark(translate) Firefox
                span.thin(translate) Market

        div#searchbutton(translate,data-ng-click="search()") Search

        div
            div#user
                div#user-details
                    div#menu-trigger(data-ng-click="openMenu($event)")
                        img(src="/img/menu_gear.png")
                    div.identification
                        p#username(data-ng-click="login()",translate) Sign in
                        img(src="/img/test_user.svg")


