div#mainsearch
    div.search-home
        div.wrap
            div.close-search(data-ng-click="closeSearch()")
            input.homesearch(type="text",name="search",data-ng-model="searchbox",placeholder="Search for anything...",data-ng-change="searchApp()")
    div.wrap

        div.resultsbyname(id="mainsearchresults")
            div.searchcolumn
                h2 Results by Developer
                div.searchresult.app(data-ng-repeat="result in author_results")
                    a(data-ng-href="/app/{{result.id}}")
                        img.app-icon(data-ng-src="{{result.icon}}")
                    h1.result-title {{result.name}}
                    h2.result-author {{result.author}}
            div.searchcolumn
                h2 Results by Name
                div.searchresult.app(data-ng-repeat="result in name_results")
                    a(data-ng-href="/app/{{result.id}}")
                        img.app-icon(data-ng-src="{{result.icon}}")
                    h1.result-title {{result.name}}
                    h2.result-author {{result.author}}

            div.searchcolumn
                h2 Results by Category
                div.searchresult.app(data-ng-repeat="result in category_results")
                    a(data-ng-href="/app/{{result.id}}")
                        img.app-icon(data-ng-src="{{result.icon}}")
                    h1.result-title {{result.name}}
                    h2.result-author {{result.author}}
header
    div(uicontrols)
    div.wrap
        div#logo(data-ng-click="returnHome()")
            img(src="/img/marketplace_logo.png" alt="marketplace-logo")

        div#user-actions
            div#searchbutton(translate,data-ng-click="search()") Search
            div#user
                div#user-details
                    div#menu-trigger(data-ng-click="openMenu($event)")

                    div.identification
                        p#username(data-ng-click="login()",translate) Sign in
                        img(src="/img/test_user.svg")


