div#mainsearch
    div.search-home
        div.wrap
            div.close-search(data-ng-click="closeSearch()",translate)
            input.homesearch(id="search",type="text",name="search",data-ng-model="searchbox",placeholder="Search for anything...",data-ng-change="searchApp()")

        div#search-result
            div.wrap
                div.resultsbyname
                    div.searchcolumn
                        div.result-relevance
                            div.relevance
                                h1(translate) Relevance:
                                h2(translate) Name
                                div.total
                                    p(translate) results
                        div.searchresult(translate,data-ng-repeat="result in name_results")
                            div.app-wrap
                                div.app-details
                                    div.app-image
                                        a(data-ng-href="/app/{{result.id}}")
                                            img.app-icon(data-ng-src="{{result.icon}}")

                                    div.app-copy
                                        div.app-download-button
                                            p(translate,data-ng-click="initPurchase(result.app_type,result.manifest_url)") Install
                                        a(data-ng-href="/app/{{result.id}}")
                                            h1.app-title {{result.name}}
                                            h2.app-author {{result.author}}
                                            div(starrating,data-rating="{{result.rating}}",data-delay="true")
                        div(translate,data-ng-click="viewSearchResults('name_results')") View All

                    div.searchcolumn
                        div.result-relevance
                            div.relevance
                                h1(translate) Relevance:
                                h2(translate) Developer
                                div.total
                                    p(translate) results
                        div.searchresult(data-ng-repeat="result in author_results")
                            div.app-wrap
                                div.app-details
                                    div.app-image
                                        a(data-ng-href="/app/{{result.id}}")
                                            img.app-icon(data-ng-src="{{result.icon}}")

                                    div.app-copy
                                        div.app-download-button
                                            p(translate,data-ng-click="initPurchase(result.app_type,result.manifest_url)") Install
                                        a(data-ng-href="/app/{{result.id}}")
                                            h1.app-title {{result.name}}
                                            h2.app-author {{result.author}}
                                            div(starrating,data-rating="{{result.rating}}",data-delay="true")
                        div(translate,data-ng-click="viewSearchResults('name_results')") View All

                    div.searchcolumn
                        div.result-relevance
                            div.relevance
                                h1(translate) Relevance:
                                h2(translate) Category
                                div.total
                                    p(translate) results
                        div.searchresult(data-ng-repeat="result in category_results")
                            div.app-wrap
                                div.app-details
                                    div.app-image
                                        a(data-ng-href="/app/{{result.id}}")
                                            img.app-icon(data-ng-src="{{result.icon}}")

                                    div.app-copy
                                        div.app-download-button
                                            p(translate,data-ng-click="initPurchase(result.app_type,result.manifest_url)") Install
                                        a(data-ng-href="/app/{{result.id}}")
                                            h1.app-title {{result.name}}
                                            h2.app-author {{result.author}}
                                            div(starrating,data-rating="{{result.rating}}",data-delay="true")
                        div(translate,data-ng-click="viewSearchResults('name_results')") View All

                    div.searchcolumn
                        div.result-relevance
                            div.relevance
                                h1(translate) Relevance:
                                h2(translate) Description
                                div.total
                                    p(translate) results
                        div.searchresult(data-ng-repeat="result in description_results")
                            div.app-wrap
                                div.app-details
                                    div.app-image
                                        a(data-ng-href="/app/{{result.id}}")
                                            img.app-icon(data-ng-src="{{result.icon}}")

                                    div.app-copy
                                        div.app-download-button
                                            p(translate,data-ng-click="initPurchase(result.app_type,result.manifest_url)") Install
                                        a(data-ng-href="/app/{{result.id}}")
                                            h1.app-title {{result.name}}
                                            h2.app-author {{result.author}}
                                            div(starrating,data-rating="{{result.rating}}",data-delay="true")
                        div(translate,data-ng-click="viewSearchResults('name_results')") View All

header
    div(uicontrols)
    div.wrap
        div#logo(data-ng-click="returnHome()")
            img(src="/img/marketplace_logo.png" alt="marketplace-logo")

        div#user-actions
            div#searchbutton(translate,data-ng-click="search()") Search
            div#user
                div#user-details
                    div#menu-trigger(data-ng-click="openMenu($event)")

                    div.identification
                        p#username(translate,data-ng-click="login()") Sign in
                        img(src="/img/user_avatar.svg")


