<section id="HOME" ng-controller="home" class="section ajax">
    <div id="search-home">

        <div class="wrap">
            <input id="homesearch" type="text" name="search" ng-model="searchbox" ng-change="searchApp()">

        </div>
    </div>

    <div class="wrap">


      <div id="featured">
          <p class="all-trigger" data-type="featured">View all</p>
          <h1>Featured apps</h1>
          <div class="apps">

                  <div class="{{app.classname}} featured" ng-repeat="app in featured_apps">
                      <div>
                          <div class="curve"></div>

                          <div class="app-details">
                              <a ng-href="/app/{{app.id}}"><img class="app-icon" ng-src="{{app.icon}}" alt="app-icon"/></a>

                              <a ng-href="/app/{{app.id}}"><h2 class="app-title">{{app.name}}</h2></a>
                              <p class="app-author">{{app.author}}</p>
                          </div>
                      </div><!-- end app box-->
                  </div>


          </div>
      </div>



  </div>

</section>



        <!--<div id="categories">
          <div class="wrap">
              <ul id="category-list">
                  <li ng-repeat="category in categories">
                      <h1 ng-click="showCategory($event)" data-slug="{{category.slug}}">{{category.name}}</h1>
                  </li>
              </ul>


              <div id="category-preview">
                  <div class="category-wrap">
                      <div ng-repeat="app in category_apps">
                          <h1>{{app.name}}</h1>
                      </div>
                  </div>
              </div>
          </div>


      </div><!--end categories-->