//abuse starts out in a "closed" state.
div#review(class="modal closed")
    div.modalBox
        h2 Report Abuse
        div.closeModal
        textarea(name="review",placeholder="enter details of the abuse")
