//abuse starts out in a "closed" state.
div#review(class="modal closed")
    div.modalBox
        h2(translate) Write a review of {{name}}
        div.closeModal
        textarea(name="review",placeholder="Write a nice review")
        input(type="text" name="star-rating",placeholder="enter a number between 1 and 5")
        button(data-ng-click="submitReview()") Submit