<section id="search">
    <div id="searchform">
        <input id="searchterm" type="text" name="search" ng-model="searchbox" ng-change="searchApp()">

        </input>
        <button ng-click="searchApp()">Search</button>
    </div>

    <!--

     <div id="searchresults">
        <h1>Search reults</h1>
        <div class="searchresult" ng-repeat="result in results">
            <a ng-href="/app/{{result.id}}"><img ng-src="{{result.icon}}" alt="result-icon"/></a>
            <h2 class="result-title">{{result.name}}</h2>
            <p class="result-author">{{result.author}}</p>
        </div>
    </div>

    -->
</section>