div.stars

    ul#rating
        li.onestar
            img(src="/img/star.png")
        li.twostar
            img(src="/img/star.png")
        li.threestar
            img(src="/img/star.png")
        li.fourstar
            img(src="/img/star.png")
        li.fivestar
            img(src="/img/star.png")

