//
   Created by sortofsleepy on 8/28/14.
section#appview
    div.wrap
        div.app-category
            div.category-label
                h3(translate) Categories &#9656;
                a(data-ng-href="/category/{{category}}",translate)
                    span {{category}}
            div.share-app(data-ng-click="shareApp()")
                p(translate) Share App
                img(src="/img/share_icon.svg" alt="share icon")
                div#share-buttons
                    span( class='st_sharethis_large',displayText='ShareThis')
                    span( class='st_facebook_large',displayText='Facebook')
                    span( class='st_twitter_large',displayText='Tweet')
                    span( class='st_linkedin_large',displayText='LinkedIn')
                    span( class='st_pinterest_large',displayText='Pinterest')
                    span( class='st_email_large',displayText='Email')

        div.app-content-container
            div.app-meta
                div.img-rating
                    img(src="{{icon}}",alt="app-image")
                    div(starrating,data-rating="{{rating}}",data-delay="true")
                    p {{ratings}}
                div.updates
                    h3(translate) Updated
                    //TODO need a way to get last updated date
                    p.date May 14, 2014
                    h3(translate) Latest Version
                    p.version {{version}}

                div.govt-rating
                    img(ng-src="{{rating_image}}")


            div.app-information
                div.name-author
                    div.download
                        p(data-ng-click="initPurchase(app_type)") Install
                    div.ages
                        p
                            | Ages
                            | 3+
                    h1 {{name}}
                    a(data-ng-href="/developer/{{urisafe_author}}")
                        h3 {{author}}
                    img(src="/img/developer_site.svg" alt="developer website icon")

                div.tabs
                    div.tab-trigger.active(data-tabname="description", data-content="{{app.description}}",data-ng-click="changeTabContent($event)")
                        h4 Description

                    div.tab-trigger(data-tabname="screenshots",data-ng-click="changeTabContent($event)")
                        h4 Screenshots

                    div.tab-trigger(data-tabname="releasenotes",data-content="{{app.releaseNotes}}",data-ng-click="changeTabContent($event)")
                        h4 Release Notes

                div#tab-content

        div#vendor-information
            div#app-links
                p.title(translate) Additional Information
                ul
                    li
                        a(data-ng-href="mailto:{{support_email}}",translate) Contact Support &#9656;

                    li(ng-if="support_url != false")
                        a(data-ng-href="{{support_url}}",target="_blank",translate) Support Site &#9656;

                    li
                        a(data-ng-href="#",translate,data-ng-click='openModal("#privacy")') Privacy Policy &#9656;

                    li
                        a(data-ng-href="{{report_abuse}}",translate,data-ng-click='openModal("#abused")') Report Abuse &#9656;

                    li
                        a(data-ng-href="{{feedback}}",translate,data-ng-click='openModal("#feedback")') Send Feedback &#9656;

            div#other-applications(ng-if="other_apps != false")
                h2(translate) Apps By this developer
                    a(data-ng-href="/developer/{{urisafe_author}}") {{more_other_apps}}
                div#other-applications-list
                    div(data-ng-repeat="app in other_apps",class="other-app")
                        a(ng-href="/app/{{app.id}}")
                            img.app-icon(data-ng-src="{{app.icon}}")
                        div.details
                            a(data-ng-href="/app/{{app.id}}")
                                h3 {{app.name}}
                            p {{app.author}}
                            div(starrating,data-rating="{{app.rating}}")
                        div.app-download-button.mini-container
                            p(data-ng-click="initPurchase(app.app_type,app.manifest)") Install


    div#app-reviews
        div#reviews
            div.wrap
                div.controls
                    h1(translate) App Reviews
                    button.write-a-review(data-ng-click='openModal("#review")',translate) Write a Review
                    h2(translate) Sort By
                    div.toggle(data-ng-click="toggleCategoryTypes($event)")
                        span.active(translate) Top Reviews
                        span(translate) All Reviews
            //- div.reviews-header
            //-     h2(translate) Reviews
                
            //-     div.toggle
            //-         span.active(translate) Latest
            //-         span(translate) All Reviews
            div.app-reviews
                div(data-ng-repeat="review in reviews",class="app-review")
                    div.stars
                        div(class="review-rating", starrating, data-rating="{{review.rating}}", data-delay="true")
                    div.rating-copy
                        p {{review.copy}}
                    div.username
                        p - {{review.username}}

div#related-apps
    div.wrap
        h3(translate) Related Apps
        div.apps
            div(class="app",data-ng-repeat="app in relatedapps")
                div.app-details
                    div.app-image
                        a(data-ng-href="/app/{{app.id}}")
                            img.app-icon(ng-src="{{app.icon}}")
                    div.app-copy
                        div.app-download-button
                           p Install
                        a(data-ng-href="/app/{{app.id}}")
                           h2.app-title {{app.name}}
                        p.app-author {{app.author}}
                        div(starrating,data-rating="{{app.rating}}")
                        div.app-download-button(data-ng-click="initPurchase(app.app_type,app.manifest)")
                            p Install





div(abusedirective)
div(appfeedback)
div(appreview data-name="{{name}}")
div#privacy(class="modal closed")
    div.modalBox
        h2(translate) Privacy Policy
        div.closeModal
        p {{privacy_policy}}
