//
   Created by sortofsleepy on 8/28/14.
section.app
    div.wrap


        div.app-content-container
            div.app-meta
                div.img-rating
                    img(src="{{icon}}")
                    div(StarRating,data-rating="3.5")
                    p 5480 reviews
                div.updates
                    h3 Updated
                    p May 14, 2014

                    p.latest Latest version
                    p.version 0.2

                div.govt-rating
                    img(src="/img/esbrrating.png")


            div.app-information
                div.name-author
                    div.download
                        h3 Free
                    h1 {{name}}
                    span.divider |
                    h3 {{author}}
                div.tabs
                    ul
                        li
                            div.tab-trigger(data-tabname="description", data-content="{{app.description}}",ng-click="changeTabContent($event)")
                                h4 description

                            div.tab-trigger(data-tabname="screenshots",ng-click="changeTabContent($event)")
                                h4 Screenshots

                            div.tab-trigger(data-tabname="releasenotes",data-content="{{app.releaseNotes}}",ng-click="changeTabContent($event)")
                                h4 release notes



                div#tab-content
                    h1 TEST