//
   Created by sortofsleepy on 8/28/14.

section.app
    div.wrap
        h1 {{name}}
        h3 {{author}}
        ul.app-categories
            li(ng-repeat="category in categories")
                p
                    a(ng-href="/category/{{category}}") {{category}}