div.category-apps
    div.apps
        div(ng-repeat="app in capps",class="app")
                div.app-wrap
                    div.app-details
                        div.app-image
                            a(ng-href="/app/{{app.id}}")
                                img.app-icon(ng-src="{{app.icon}}")
                        div.app-copy
                            div.app-download-button
                                p Free
                            a(ng-href="/app/{{app.id}}")
                                h2.app-title {{app.name}}
                                p.app-author {{app.author}}
                                div(starrating,data-rating="{{app.rating}}")