section#category-page
    div#category-banner
        div#banner
        div.wrap
            div#category-details
                img(src="/img/category-icon.png")
                div.category-copy
                    h2(translate) View All Categories
                    h1#category-title
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis risus viverra, placerat ante ut.

            div#featured-category-apps
                div.wrap
                    h1.spotlight Spotlight Apps
                    div#in-view-featured(class="category in-view-featured")
                    ul.pagination
                        li.active
                        li
                        li

                    div(class="category featuredapps",style="display:none")
                        div(class="category",data-ng-repeat="fapp in featuredapps",data-index="{{fapp.index}}")
                            div.featured-app
                                img(data-ng-src="{{fapp.icon}}",class="icon")
                                h1 {{fapp.name}}
                                h2 {{fapp.author}}
                                div(class="star-rating", starrating, data-rating="{{fapp.rating}}",data-delay="true")

    div(class="editorial-collections")
        div.wrap
            div.collections
                div.collection
                    div.curve
                    div.collection-apps
                        div.collection-app
                            a(href="/app/{{staff_one.id}}")
                                img(src="{{staff_one.image}}")
                        div.collection-app
                            a(href="/app/{{staff_two.id}}")
                                img(src="{{staff_two.image}}")
                        div.collection-app
                            a(href="/app/{{staff_three.id}}")
                                img(src="{{staff_three.image}}")
                    div.alt-curve
                    div.collection-copy
                        h2(translate) Our Staff Picks
                        p Whether you’re into solving puzzles, playing strategy games, or blasting zombies, we’ve got games for all.
                div.collection
                    div.curve
                    div.collection-apps
                        div.collection-app
                            a(href="/app/{{games_one.id}}")
                                img(src="{{games_one.image}}")
                        div.collection-app
                            a(href="/app/{{games_two.id}}")
                                img(src="{{games_two.image}}")
                        div.collection-app
                            a(href="/app/{{games_three.id}}")
                                img(src="{{games_three.image}}")
                    div.alt-curve
                    div.collection-copy
                        h2(translate) Top three Games
                        p Whether you’re into solving puzzles, playing strategy games, or blasting zombies, we’ve got games for all.
                div.collection
                    div.curve
                    div.collection-apps
                        div.collection-app
                            a(href="/app/{{workplace_one.id}}")
                                img(src="{{workplace_one.image}}")
                        div.collection-app
                            a(href="/app/{{workplace_two.id}}")
                                img(src="{{workplace_two.image}}")
                        div.collection-app
                            a(href="/app/{{workplace_three.id}}")
                                img(src="{{workplace_three.image}}")
                    div.alt-curve
                    div.collection-copy
                        h2(translate) Great Apps for the workplace
                        p Whether you’re into solving puzzles, playing strategy games, or blasting zombies, we’ve got games for all.

    div#featured
        div.wrap
            h1.header(translate) Featured Apps
            div.apps(class="home-apps")
                div(class="{{app.classname}} featured {{app.showfirst}} with-review",data-ng-repeat="app in featuredapps")

                    div.app-wrap
                        div.app-details
                            div.app-image
                                a(data-ng-href="/app/{{app.id}}")
                                    img.app-icon(data-ng-src="{{app.icon}}")

                            div.app-copy
                                div.app-download-button
                                    p(data-ng-click="initPurchase(app.app_type,app.manifest_url)") Install
                                a(data-ng-href="/app/{{app.id}}")
                                    h1.app-title {{app.name}}
                                    h2.app-author {{app.author}}
                                    div(starrating,data-rating="{{app.rating}}", data-delay="true")

                        div.app-description
                            div(appreviews,data-appid="{{app.id}}")

    div#apps-in-category
        div.wrap
            div#popular-in-category(class="category popular",style="position:relative;")
                div.wrap
                    div.controls
                        h1(translate) Apps In Category
                        h2(translate) Sort By
                        div.toggle(data-ng-click="toggleCategoryTypes($event)")
                            span.active(translate) Popular
                            span(translate) Recent
                div.app-grid
                    div.category-popular
                        div(class="category",data-ng-repeat="app in popularapps")
                            div.app
                                a(data-ng-href="/app/{{app.id}}")
                                    img(data-ng-src="{{app.icon}}")
                                div.app-details
                                    a(data-ng-href="/app/{{app.id}}")
                                        h4 {{app.name}}
                                    p {{app.author}}
                                    div(starrating,data-rating="{{app.rating}}", data-delay="true")
                                a(data-ng-href="/app/{{app.id}}")
                                    div.app-download-button
                                        p(translate) Install

                    div.category-recent
                        div(class="category",data-ng-repeat="app in recentapps")
                            div.app
                                a(data-ng-href="/app/{{app.id}}")
                                    img(data-ng-src="{{app.icon}}")
                                div.app-details
                                    a(data-ng-href="/app/{{app.id}}")
                                        h4 {{app.name}}
                                    p {{app.author}}
                                    div(starrating,data-rating="{{app.rating}}", data-delay="true")
                                a(data-ng-href="/app/{{app.id}}")
                                    div.app-download-button
                                        p(translate) Install
                div.wrap
                    div.load-more
                        h1(translate, data-ng-click="getMessage()") Load More Apps
