<section id="category-page">
    <div id="category-banner">
        <div class="wrap">

            <div id="featured-category-apps">
                <div class="wrap">

                    <div class="category in-view-featured" id="in-view-featured">

                    </div>


                    <div style="display: none" class="category featuredapps">
                        <div class="category featured-app" ng-repeat="app in apps">

                            <img ng-src="{{app.icon}}"/>
                            <h1>{{app.name}}</h1>
                            <h3>{{app.author}}</h3>


                        </div>
                    </div>
                </div>
            </div>
            <h1 id="category-title"></h1>


        </div>
    </div>

   <div class="wrap">

       <div ng-repeat="app in apps">
           {{app.name}}
       </div>

   </div><!--end wrap-->

</section>