section#category-page
    div#category-banner

        div#banner
        div.wrap
            div#featured-category-apps
                div.wrap
                    div#in-view-featured(class="category in-view-featured")

                    div(class="category featuredapps",style="display:none")
                        div(class="category featured-app",data-ng-repeat="fapp in featuredapps")
                            img(data-ng-src="{{fapp.icon}}")
                            h1 {{fapp.name}}
                            h3 {{fapp.author}}
                            div(starrating,data-rating="{{app.rating}}")

            div#category-details
                img(src="/img/category-icon.png")
                div.category-copy
                    h2 View All Categories
                    h1#category-title
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis risus viverra, placerat ante ut.


    div(class="editorial-collections")
            div.wrap
                div.collections
                    div.collection
                        div.collection-apps
                            div.collection-app
                            div.collection-app
                            div.collection-app
                        div.collection-copy
                            h2(translate) Our Staff Picks
                            p Whether you’re into solving puzzles, playing strategy games, or blasting zombies, we’ve got games for all.
                    div.collection
                        div.collection-apps
                            div.collection-app
                            div.collection-app
                            div.collection-app
                        div.collection-copy
                            h2(translate) Top three Games
                            p Whether you’re into solving puzzles, playing strategy games, or blasting zombies, we’ve got games for all.
                    div.collection
                        div.collection-apps
                            div.collection-app
                            div.collection-app
                            div.collection-app
                        div.collection-copy
                            h2(translate) Great Apps for the workplace
                            p Whether you’re into solving puzzles, playing strategy games, or blasting zombies, we’ve got games for all.

    div#featured
        div.wrap
            h1(translate) Featured Apps
            div.apps(class="home-apps")
                div(class="{{app.classname}} featured {{app.showfirst}} with-review",data-ng-repeat="app in featuredapps")

                    div.app-wrap
                        div.app-details
                            div.app-image
                                a(data-ng-href="/app/{{app.id}}")
                                    img.app-icon(data-ng-src="{{app.icon}}")

                            div.app-copy
                                div.app-download-button
                                    p Free
                                a(data-ng-href="/app/{{app.id}}")
                                    h2.app-title {{app.name}}
                                    p.app-author {{app.author}}
                                    div(starrating,data-rating="{{app.rating}}")

                        div.app-description
                            div(appreviews,data-appid="{{app.id}}")

    div.wrap
        div#popular-in-category(class="category popular")
            h3(translate) Popular |
                span.light(translate,class="thin") New
            div(class="category",data-ng-repeat="app in popularapps")
                div.app
                    img(data-ng-src="{{app.icon}}")
                    div.app-details
                        h4 {{app.name}}
                        p {{app.author}}
                    div.install-button Free
