div.review(data-rating="{{rating}}")
    div.rating-copy
        p "{{copy}}"
    div.username
        p - {{username}}
    div(class="review-rating", starrating, data-rating="{{rating}}", data-delay="true")
