div.review(data-rating="{{rating}}")
    div(class="review-rating", starrating, data-rating="{{rating}}", data-delay="true")
    br
    div.rating-copy
        p {{copy}}
    div.username
        p {{username}}
